In [117]:
#1
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
m = {}
a = {}
for i in d1 :
    for j in d2 :
        if i == j :
            m[i] = d1.get(i) + d2.get(j)
        if i not in d2 :
            m[i] = d1[i]
        if j not in d1 :
            m[j] = d2[j]
m

{'a': 400, 'd': 400, 'b': 400, 'c': 300}

In [11]:
#2
people = [("Ali",25),("Mina",30),("Reza",25),("sara",30)]
a = list(people)
age = []
c = 0
for i in a :
    age.append(a[c][1])
    c += 1
set(age)

In [14]:
d = {}
for item in age :
    d[item] =age.count(item)  
d

{25: 2, 30: 2}

In [72]:
g = []
c = 0
m =sorted(list(age))
for i in a :
    if (i[1]) == m[c] :
        g.append(i[0])
        c += 1
g

['Ali', 'Reza', 'sara']

In [70]:
#3
people = [{'name': "Ali","age": 23},{'name': "Mina","age": 30},{'name': "Reza","age": 25},{'name': "Sara","age": 28}]
c = 0
f = []
for i in people:
    t = people[c].get("age")
    c += 1
    if t > 25 :
        f.append(i)
f

[{'name': 'Mina', 'age': 30}, {'name': 'Sara', 'age': 28}]

In [76]:
#4
nested_list = [[1,2,3],[2,3,4],[3,4,5]]
w = []
for i in nested_list:
    for j in i :
        w.append(j)
set(w)

{1, 2, 3, 4, 5}

In [110]:
#5
words = ["apple","cat","dog","book","python"]
R = {}
Y = {}
for char in words :
    R[char] = len(char)
for k,v in R.items():
    Y[v] = k
Y

{5: 'apple', 3: 'dog', 4: 'book', 6: 'python'}